# Auto detect text files and perform LF normalization
*        text=auto

*.java   text
*.html   text
*.css    text
*.js     text
*.sql    text
*.q      text

# Note: executable is a non-standard attribute, and it is used by the release plugin
*.sh     text eol=lf executable
*.cgi    text eol=lf executable

*.bat    text eol=crlf
*.cmd    text eol=crlf

# Files below don't have extensions, so we mention them explicitly
/gradlew                  text eol=lf executable
/bin/breaktest            text eol=lf executable
/bin/breaktest-agent-mcp  text eol=lf executable
/bin/breaktest-agent-tool text eol=lf executable
/bin/mirror-server        text eol=lf executable
/xdocs/changes.xml merge=union
/xdocs/changes_history.xml merge=union
